<h2>Запись сохранена!</h2>
<p>
Поздравляем, <%=@user_name%>, мы ждем Вас <%=@date_visit%> в <%=@time_visit%>
</p>
<p>
	Ваш мастер: <%=@master%>
</p>

<p>
	<%=@reminder%>
</p>
<p>Спасибо, что воспользовались нашими услугами</p>